<% if @plan.completed? %>
  <p>
    You are now done reading <%= @plan.book_name %>. Please choose another
    book to read.
  </p>

  <p>
    <%= link_to "Choose a New Book", new_plan_path %>
  </p>
<% else %>
  <p>
    You have already completed reading chapter <%= @reading.chapter %> of
    <%= @reading.book_name %>.
  </p>

  <p><%= link_to "Resend the next reading", email_plan_path(@plan) %></p>
<% end %>
